#
# DLEP Sim Radio Config File  
# 
SIM_NAME radio_2

DEBUG_FLAGS     0xFF

# When the MANUAL_START is enabled, the user
# will need to enter "start" on the simulator
# cli to start the simulator. 
#MANUAL_START 
DISCOVERY_START 

# string for the peer type TLV 
TYPE_DESCRIPTION DLEP_Radio_Sim_2  

LOCAL_UDP_PORT 38700
LOCAL_TCP_PORT 38710
LOCAL_IPV4   20.1.1.4 

ROUTER_UDP_PORT 38777 

ROUTER_TCP_PORT  38775 
ROUTER_IPV4  9.1.1.202  

LOCAL_ID 2222 



###
### Add counters and timers and thresholds 
###

# The node heartbeat interval is only used by the client.  The
# server takes the clients value.  Time units are seconds.
DLEP_PEER_HEARTBEAT_INTERVAL              5    
DLEP_PEER_HEARTBEAT_MISSED_THRESHOLD      2  


# The heuristics to retry a lost session init ack.
# Time units are in milliseconds.
DLEP_NEIGHBOR_UP_ACK_TMO                 1000 
DLEP_NEIGHBOR_UP_MISSED_ACK_THRESHOLD    4 


# The interval to send metrics.  
# Time units are in milliseconds.
DLEP_NEIGHBOR_UPDATE_INTERVAL_TMO          2000
#DLEP_NEIGHBOR_UPDATE_INTERVAL_TMO          0


# The heuristics to retry a lost session term ack.
# Time units are in milliseconds.
DLEP_NEIGHBOR_DOWN_ACK_TMO                 1000 
DLEP_NEIGHBOR_DOWN_MISSED_ACK_THRESHOLD    4 

# 
# end config   
#

